.heacdingcart{
    color: white;
}
.productheading{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    display: inline;
    text-align: left;
    margin-left: 2rem;
}
.cartProducttt{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}
.cartProducttt button{
    margin-right: 2rem;
    background-color:#e62222;
    color: white;
    width: 4.3rem;
    height: 1.7rem;
    border: 0;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 600;
}
.deleteAll{
    
    background-color:#e62222;
    color: white;
    width: 4.3rem;
    height: 2rem;
    border: 0;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 2rem;
}
.backHome{
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 900;
    margin-top: 10rem;
}
.backHome i{
    margin-left: 1rem;
}
/* From Uiverse.io by JaydipPrajapati1910 */ 
.buttooon {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color:  rgb(33 150 243);
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-top: 1.3rem;
    font-weight: 500;
  }
  
  .buttooon::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .buttooon::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .buttooon::after,.buttooon::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .textbuy {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttooon-wrapper,.textbuy,.iconbuy {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .textbuy {
    top: 0
  }
  
  .textbuy,.iconbuy {
    transition: top 0.5s;
  }
  
  .iconbuy {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconbuy svg {
    width: 24px;
    height: 24px;
  }
  
  .buttooon:hover {
    background: #222;
  }
  
  .buttooon:hover .text {
    top: -100%;
  }
  
  .buttooon:hover .icon {
    top: 0;
  }
  
  .buttooon:hover:before,.buttooon:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .buttooon:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .buttooon:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  